<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>
      Our Glorious Thermometer!!
    </h1>
    <h2>
      Current Temperature:
       <div id="temp">Temperature</div>

    </h2>
    <button type="button" id="increaseTemp">Increase</button>
    <button type="button" id="decreaseTemp">Decrease</button>
    <button type="button" id="resetTemp">Reset</button>
    <br>
      Power Saving Mode:
      <button type="button" id="changePowerSavingMode">Change Power Saving Mode</button>
    <br>


      Energy Usage:
      <script src="jquery-3.3.1.min.js"></script>
      <script src="../interface.js"></script>
  </body>
</html>
