<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>
      Our Glorious Thermometer!!
    </h1>
    <h2>
      Current Temperature:
    </h2>
    <button type="button" name="increaseTemperature">Increase</button>
    <button type="button" name="decreaseTemperature">Decrease</button>
    <button type="button" name="resetTemperature">Reset</button>
    <br>
      Power Saving Mode:
      <button type="button" name="changePowerSavingMode">Change Power Saving Mode</button>
    <br>
      Energy Usage:
      <script src="lib/jquery-3.3.1.min.js"></script>
      <script src="../src/Thermstat.js"></script>
  </body>
</html>
